@charset "UTF-8";

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
* {
    color: white;
}
body {
    width: 70%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(14, 13, 13);
}
.principal {
    background-color: rgb(20, 20, 20);
    padding: 0 10px;
}
.principal-header {
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    padding: 0 20px;
    margin: 0 -10px;
    justify-content: space-between;
    background-color: #05080a;
}
.principal-header__logo {
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.nav-bar__list {
    font-size: 16px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    letter-spacing: 1px;
}
.list__item {
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
.list__item a {
    display: inline-block;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid transparent;
}
.list__item a:hover,
.list__item a.link-base {
    border-bottom: 1px solid rgb(218, 218, 27);
    box-sizing: border-box;
    color: yellow;
    transition: .3s;
}
.list__item a.link-base {
    pointer-events: none;
}
.list__item a:active {
    cursor: not-allowed;
}
.bigger-tittle {
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
}
.pricing {
    display: flex;
    gap: 13px;
}
.pricing-plan {
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    background-color: #1a2525;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pricing-plan__tittle {
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid yellow;
    text-transform: uppercase;
    font-size: large;
    letter-spacing: 1px;
    font-size: 23px;
    opacity: .8;
}
.pricing-plan__price::after {
    content: " / month";
    font-size: 14px;
}
.pricing-plan p {
    margin-bottom: 0;
    font-size: small;
}
.pricing-plan__price {
    font-size: 25px;
}
.pricing-plan__features {
    padding-left: 0;
    list-style-position: inside;
    font-size: medium;
    opacity: .7;
    line-height: 23px;
}
.pricing-plan__features li {
    color: #e9e7e7;
}
.pricing-plan__features li::marker {
    color: #cbe300;
}
.pricing-plan__cta {
    display: inline-block;
    background-color: rgba(255, 255, 0, .7);
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 9px 8px 9px;
    font-size: small;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto-medium';
}

.pricing-plan__cta:hover {
    outline: 2px solid #cbe300;
    background-color: transparent;
    cursor: not-allowed;
    color: white;
}